<div class="row">
	<div class="col-lg-12">
		<div class="row" ng-controller="loginCtrl">	
			<div class="modal fade" id="login">
				<form>
				<div class="modal-dialog">
				  	<div class="modal-content">
				    	<div class="modal-body">
					    	<div class="dialog-header">
								Inicia sesión <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
							</div>
							<div class="dialog-body">
								<div class="login-body">
									<div class="form-group">
								      <label for="username">Usuario</label>
								      <input type="text" ng-model="user.username" class="form-control" id="username">
								    </div>
								    <div class="form-group">
								      <label for="password">Contraseña</label>
								      <input type="password" ng-model="user.password" class="form-control" id="password">
								    </div>				    
								</div>
							</div>
							<div class="dialog-footer" align="right">
								<div class="login-footer">
									<a class="btn btn-default"  ng-click="login_try()" data-dismiss="modal">Iniciar sesión</a>
									<div class="recordar-login"><input type="checkbox" ng-model="recordar" /> Recordar mis datos </div>
								</div>
							</div>
				    	</div>
					</div>
				</div>
				</form>
			</div>	
			
		</div>
		
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 intro">
				<h2>¿Dónde estoy?</h2>
				Canvashelper es una herramienta experimental que facilita la creación de modelos de negocio empleando la lógica de "canvas bussiness model generation".
			</br></br>
				En una primera instancia, este sitio debiera servirte para generar modelos de forma sencilla y visualmente atractiva, sin embargo se plantea que a futuro
				sirva como una plataforma pedagógica orientada a mejorar el uso del canvas en todo tipo de empresarios.
			</br></br>
				Te invitamos a participar de esta versión de prueba enviando un correo a mimesis17@gmail.com para crear una cuenta de usuario.
				</br></br>
			<p align="center"><img align="center" src="imgs/BusinessModelBlocks.png"></p>
				Esta aplicación está hecha para funcionar correctamente en <b>Chrome</b> y <b>Firefox</b>. <b>No funciona</b> en <b>Internet Explorer</b> y no está probada en otros exploradores.
			</div>
		</div>
	</div>
</div>