<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
<div class="row" ng-controller="proyectosCtrl">
	<div class="col-lg-12" ng-init="lista_usuarios();">
		<div class="proyectos">
			<table class="table">
				<thead>
					<tr>
						<td colspan="2"><h3>Mis Proyectos</h3></td><td colspan="3" align="right">filtro : <input type="text" size="40" ng-model="filter"/></td>
					</tr>
					<tr>
						<th ng-click="orderedBy='-nombre'">Nombre</th>
						<th>Descripción</th>
						<th ng-click="orderedBy='-created_at'">Creación</th>
						<th ng-click="orderedBy='-updated_at'">Modificación</th>
						<th width="160">Acción</th>
					</tr>
				</thead>
				<tbody><td colspan="5">
					<div class="elemento-tabla-proyectos" ng-repeat="(i,proyector) in proyectos | filter: filter| orderBy: orderedBy" ng-click="fetch_canvas(proyector)" ng-class="color_proyecto_activo(proyector)">
						<div class="droppable" droppable drop="mover_canvas(proyector.id)"></div>
						<div class="nombre-proyecto">{{proyector.nombre}}</div>
						<div class="descripcion">{{proyector.descripcion}}</div>
						<div class="fecha">{{proyector.created_at}}</div>
						<div class="fecha">{{proyector.updated_at}}</div>
						<div class="acciones-proyecto">
							<a ng-class="check_editable(proyector.editable)" class="btn btn-primary" style="margin-top:0;" ng-click="cargar_proyecto(proyector);fetch_permisos(proyector.id);" align="center" data-toggle="modal" data-target="#agregar_contribuyente"><span class="glyphicon glyphicon-user"></span></a>
							<a ng-class="check_editable(proyector.editable)" data-toggle="modal" ng-click="cargar_proyecto(proyector)" data-target="#actualizar" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></a>
							<a ng-class="check_editable(proyector.editable)" class="btn btn-warning" ng-click="borrar_proyecto(proyector,$index)"><span class="glyphicon glyphicon-remove"></span></a>
						</div>
						
					</div>
				</td>
				</tbody>
			</table>
			<p align="center" style="border-top:#CCC thin solid;"><a data-toggle="modal" data-target="#dialog" class="btn btn-primary">Agregar proyecto</a></p>
		</div>
	<div class="proyectos">
			<table class="table table-hover canvas-select">
				<thead>
					<tr><th colspan="2"><h4 align="center">Canvas Asociados</h4></th></tr>
				</thead>
				<tbody>
					<tr ng-mousedown="cargar_canva(canva)" ng-repeat="(i,canva) in canvas">
						<td style="width:100%">
							<div class="elemento-canva" draggable id="{{canva.id}}"><a href="#canvas{{opcion}}/{{canva.id}}">{{canva.nombre}}</a>
							<a align="right" data-toggle="modal" ng-click="cargar_canva(canva)" data-target="#editar_canva" ng-class="check_canvas_editable(canva)"><span class="glyphicon glyphicon-pencil"></span></a>
							<a align="right" ng-click="borrar_canva(canva.id)"><span class="glyphicon glyphicon-remove" ng-class="check_canvas_editable(canva)"></span></a></div></td>
					</tr>
					<tr>
						<td align="center" colspan="2">
							<a data-toggle="modal" data-target="#agregar_canvas" class="btn btn-success">Agregar canvas</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- <div class="mensajes">
			<div class="mensajes_header" align="center">
				Contribuyentes
			</div>
			<div ng-repeat="permiso in canva.permisos_attributes" class="mensaje">
				<p tooltip="">{{permiso.usuario}} puede {{permiso.valor_texto}}</p>
			</div>
			
			<div align="center" style="border-top:thin solid #CCC; width:100%;">
				<a class="btn btn-success"  ng-click="lista_usuarios()" align="center" data-toggle="modal" data-target="#agregar_contribuyente">Ver/Agregar contribuyente</a>
			</div>
		</div> -->
		<div>
			Autoguardado <input type="radio" name="autosave" value="1" ng-model="opcion"/> Sí
		</div>
	</div>
	
	<div class="modal fade" id="dialog">
		<div class="modal-dialog">
		  	<div class="modal-content">
		    	<div class="modal-body">
			    	<div class="dialog-header">
						Agregar proyecto <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="dialog-body">
						<form>
								<div class="form-group">
									<label>Nombre</label>
									<input type="text" class="form-control" ng-model="proyecto.nombre" /> </br>
								</div>
								<div class="form-group">
									<label>Descripción</label>
									<textarea class="form-control" ng-model="proyecto.descripcion" rows="10"></textarea> </br>
								</div>
						</form>
					</div>
					<div class="dialog-footer" align="right">
						<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Cerrar</button>
					    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="crear_proyecto()">Agregar</button>
					</div>
		    	</div>
	  		</div>
		</div>
	</div>
	
	<div class="modal fade" id="actualizar">
		<div class="modal-dialog">
		  	<div class="modal-content">
		    	<div class="modal-body">
			    	<div class="dialog-header">
						Editar proyecto <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="dialog-body">
						<form>
								<div class="form-group">
									<label>Nombre</label>
									<input type="text" class="form-control" ng-model="proyectoactualizable.nombre" value="{{target.nombre}}" /> </br>
								</div>
								<div class="form-group">
									<label>Descripción</label>
									<textarea class="form-control" ng-model="proyectoactualizable.descripcion" value="{{target.descripcion}}" rows="10"></textarea> </br>
								</div>
						</form>
					</div>
					<div class="dialog-footer" align="right">
						<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Cerrar</button>
					    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizar_proyecto(target)">Actualizar</button>
					</div>
		    	</div>
	  		</div>
		</div>
	</div>
	
	<div class="modal fade" id="agregar_canvas">
		<div class="modal-dialog">
		  	<div class="modal-content">
		    	<div class="modal-body">
			    	<div class="dialog-header">
						Agregar Canvas <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="dialog-body">
						<form>
								<div class="form-group">
									<label>Nombre</label>
									<input type="text" class="form-control" ng-model="canva.nombre" value="{{target_canva.nombre}}" /> </br>
								</div>
								<div class="form-group">
									<label>Descripción</label>
									<textarea class="form-control" ng-model="canva.descripcion" value="{{target_canva.descripcion}}" rows="10"></textarea> </br>
								</div>
						</form>
					</div>
					<div class="dialog-footer" align="right">
						<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Cerrar</button>
					    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="crear_canva()">Agregar</button>
					</div>
		    	</div>
	  		</div>
		</div>
	</div>
	
	<div class="modal fade" id="editar_canva">
		<div class="modal-dialog">
		  	<div class="modal-content">
		    	<div class="modal-body">
			    	<div class="dialog-header">
						Editar Canvas <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="dialog-body">
						<form>
								<div class="form-group">
									<label>Nombre</label>
									<input type="text" class="form-control" ng-model="canvaactualizable.nombre" value="{{target_canva.nombre}}" /> </br>
								</div>
								<div class="form-group">
									<label>Descripción</label>
									<textarea class="form-control" ng-model="canvaactualizable.descripcion" value="{{target_canva.descripcion}}" rows="10"></textarea> </br>
								</div>
						</form>
					</div>
					<div class="dialog-footer" align="right">
						<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">Cerrar</button>
					    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="actualizar_canva()">Actualizar</button>
					</div>
		    	</div>
	  		</div>
		</div>
	</div>
	<div class="modal fade" id="agregar_contribuyente">
		<div class="modal-dialog">
		  	<div class="modal-content">
		    	<div class="modal-body">
			    	<div class="dialog-header">
						Contribuyentes <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="dialog-body">
						<form>
							<input id="filtro_usuario" type="search" size="30"/><a style="margin-top: 35px;margin-left: 20px;"class="btn btn-primary" ng-click="agregar_permiso()"> Agregar</a>
							<table class="table table-hover">
								<thead>
									<tr>
										<td>Nombre</td><td>Permisos</td><td></td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="permiso in target.permisos_attributes">
										<td>{{permiso.usuario}}</td></td>
										<td>
											<select ng-model="permiso.valor" ng-click="set_permiso_actualizable(permiso)" ng-change="editar_permiso()">
												<option value="2" selected>Ver</option>
												<option value="1">Editar</option>
											</select>
										</td>
										<td><a ng-click="borrar_permiso(permiso.id)"><span class="glyphicon glyphicon-remove"></span></a></td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
					<div class="dialog-footer" align="right">
						<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="close()">Listo</button>
					    
					</div>
		    	</div>
	  		</div>
		</div>
	</div>
</div>